.basket {
  width: 100%;
  background-color: white;
  height: max-content;
}

.checkout-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.image {
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: block;
  flex: 1;
}

.image h3 {
  margin: 5px 0;
}

.image img {
  width: 100%;
}
