.header {
  background-color: #131921;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* .logo {
  width: 100px;
} */

.logo-image {
  margin-top: 18px;
  width: 100px;
  margin-right: 20px;
  object-fit: contain;
}

.header-search {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 24px;
}

.search-input {
  width: 100%;
  padding: 11px;
  height: 12px;
  outline: none;
  border: none;
}

.search {
  background-color: #cd9042;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 5px;
  cursor: pointer;
}

.header-options {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  cursor: pointer;
}

.option-one {
  font-size: 10px;
}

.option-two {
  font-size: 13px;
  font-weight: 700;
}

.header-basket {
  position: relative;
  cursor: pointer;
}

.basket {
  font-size: 20px;
}

.basket-count {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  background-color: white;
  color: #131921;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
}
